.fill-vertical {
  height: -webkit-calc(100%);
  height: -moz-calc(100%);
  height: calc(100%);
  background-color: inherit;
}

.right {
    float: right;
}

.list {
    color: dimgrey;
}

.list-category {
    color: darkgrey;
    font-style: italic;
    font-weight: bold;
    margin-left: 1em;
}

.full {
    height: 80vh;
}
