{% macro flash() -%}
<div class="row padding-top padding-bottom">
    <div class='flash'>
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>
                {% for message in messages %}
                <strong> {{ message }} </strong>
                {% endfor %}
            </p>
            {% endif %} {% endwith %}
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
{%- endmacro %}
