{% extends "base.html" %} {% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>  <a href="{{url_for('index')}}">Home</a>
        </li>
    </ol>
</div>
<div class="row vdivide">
    <div class="col-xs-1"></div>
    <div class="col-xs-3 divide">
        <div class="row">
            <h2>Categories</h2>
        </div>
        {% for category in categories %}
        <div class="row">
            <a href="{{url_for('ShowCategory', category_name=category.name)}}">
                <span class="list">{{category.name}}</span>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-6">
        <div class="row">
        </div>
        <div class="row">
            <h2><a href="{{url_for('NewItem')}}" class="btn btn-default right" role="button">Add Item</a>New Items</h2>
        </div>
        {% for item in items %}
            <div class="row">
                <a href="{{url_for('ShowItem', category_name=item.category.name, item_name=item.name)}}">
                    <span class="list">{{item.name}}</span>
                </a>
                <a href="{{url_for('ShowCategory', category_name=item.category.name)}}">
                    <span class="list-category">({{item.category.name}})</span>
                </a>
            </div>
        {% endfor %}

    </div>
    <div class="col-xs-1">
    </div>
</div>

{% endblock %}
