{% import 'flash.html' as flash %}
{% extends "base.html" %}

{% block content %}
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- <script src="{{url_for('static', filename='js/oauth.js')}}" async defer></script> -->
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<div class="row">
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>  <a href="{{url_for('index')}}">Home</a>
        </li>
        <li class="active">
            <i class="glyphicon glyphicon-tag"></i> Login
        </li>
    </ol>
</div>
<div class="row" id="flash">
    <!-- Flash -->
    {{ flash.flash() }}
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>Login</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form method="post">
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" class="form-control" maxlength="100" name="username" value="{{username}}">
                <label for="password">Password:</label>
                <input type="password" class="form-control" maxlength="100" name="password" value="{{password}}">
                <br />
                <button type="submit" class="btn btn-default" id="submit" type="submit">
                <span aria-hidden="true">Login</span>
            </button>
            </div>
        </form>
        <!-- <h3></h3> -->
        <br />
        <!-- Google+ Sign In Button-->
        <!-- <div id="signInButton">
            <span class="g-signin" data-scope="openid email" data-clientid="1054005518152-2fcvq267d3fhgitb86llkephcpjbr0kc.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
            </span>
        </div> -->
        <!-- FB Login Sign In Button -->
        <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();"> <!-- defines scope of authorization and invokes the sendTokenToServer function -->
        <a href="javascript:sendTokenToServer()">Login with Facebook</a>
        </fb:login-button>
        <!--END GOOGLE PLUS SIGN IN BUTTON -->
        <br />
        <div id="result"></div>
    </div>
    <script>
        // FB Callback Function
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1293669250698238',
                cookie: true, // enable cookies ot allow server to access the session
                xfbml: true, // parse social plugins on this page
                version: 'v2.8' // use version 2.8
            });
            FB.AppEvents.logPageView();
        };
        // Async load
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken']; // Retrieve access token
            // console.log(access_token)
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
                // make ajax call to server to send access token with state value
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{STATE}}', // route is /fbconnect
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        console.log("hello")
                        console.log(result)
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful! Redirecting...')
                            setTimeout(function() {
                                window.location.href = "{{url_for('index')}}";
                            }, 2000);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $('#result').html(errorThrown + ": "+ XMLHttpRequest.responseText);
                    }
                });
            });
        }
    </script>
</div>
{% endblock %}
